/*Contact Style*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contact-techstack {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  height: 0px;
}

@media (max-width: 768px) {
  .contact{
    gap: 2vh;
  }
  .contact-techstack {
    visibility: visible;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
  }
  img {
    height: 10vw;
    width: 10vw;
  }
}
