@tailwind base;
@tailwind components;
@tailwind utilities;

/*Root Styles*/
* {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Space Mono", sans-serif;
}
.main_container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
}
html,
body {
  cursor: none;
  margin: 0;
  color: #fefefe;
  background-color: rgba(18, 18, 18, 1);
}
html *,
body * {
  cursor: none;
}
a {
  text-decoration: underline;
  color: #fefefe;
}

/*Page Styles*/
.page {
  height: 100%;
  width: 40vw;
  position: absolute;
  bottom: -100%;
  transition: 0.1s ease-in-out;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.page:first-child {
  bottom: 0;
}

/*Social Media syles*/
.social-media {
  position: absolute;
  top: 50%;
  right: 3vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.social-media img {
  height: 4vh;
  width: 4vh;
}

/*Navbar Styles*/
.pagination {
  position: absolute;
  padding: 0;
  left: 3vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.navLink {
  display: flex;
  gap: 0.5vw;
  flex-direction: row;
  align-items: center;
}
.navText {
  font-size: 14px;
  font-weight: 550;
}
.bullet {
  height: 17px;
  width: 17px;
}
.active .bullet,
.active .in-bullet {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.active .in-bullet {
  opacity: 1;
}
.inactive .bullet {
  transform: scale(0.6);
  transition: all 0.1s ease-in-out;
}
.inactive .in-bullet {
  transform: scale(0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}
.inactive:hover .bullet {
  transform: scale(1);
}
.inactive:hover .in-bullet {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.pagination .active .navText {
  transform: translateX(0);
  opacity: 1;
}
.navText {
  transform: translateX(-20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.inactive:hover .navText {
  transform: translateX(0);
  opacity: 1;
}

/*Cursor Styles*/
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;
}
.cursor--hidden {
  opacity: 0;
}
.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

/*TechStack styles*/
.skillIconDown,
.skillIconUp {
  border: 1px solid #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9%;
  transition: all 0.2s ease-in-out;
}
.skillIconUp {
  transform: translate(5px, -5px);
  background-color: rgba(18, 18, 18, 1);
  padding: 0.5vw;
}
.skillIconDown:hover {
  background-color: white;
}
.skillIconDown:hover .skillIconUp {
  transform: translate(6px, -6px);
}

@media (max-width: 768px) {
  p,
  a {
    font-size: 5vw;
  }
  .navText {
    visibility: hidden;
  }
  .social-media {
    visibility: hidden;
  }
  .page {
    width: 75vw;
    overflow: hidden;
  }
  .asteroid-background{
    overflow: hidden;
  }
}
