.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 5vh;
}
.projectTab{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.projectTab p{
  font-size: 0.6em;
  font-weight: 100;
  font-style: oblique;
}

@media (max-width: 768px) {
  .projectTab p{
    font-size: 4vw;
  }
  a h1{
    font-size: 6vw;
  }
  .projectTab{
    gap: 1vh;
  }
  .projects {
    gap: 2vh;
  }
}